.header-com {
    .trigger {
        font-size: 18px;
        line-height: 60px;
        padding: 0 24px;
        cursor: pointer;
        transition: color 0.3s;
        &:hover {
            color: #1890ff;
        }
    }

}